<%= form_for @basket do |b| %>

  <% if @basket.errors.any? %>
    <ul>
      <%= @basket.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>

  <%= b.label :name, "Name" %>
  <%= b.text_field :name %>

  <%= b.label :position, "Position" %>
  <%= b.text_field :position %>

  <%= b.label :nationality, "Nationality" %>
  <%= b.text_field :nationality %>

  <%= b.label :average_score, "Average Score" %>
  <%= b.number_field :average_score %>

  <%= b.submit value="Update the player" %>

<% end %>
