<h1>baskets</h1>

<%= link_to "Add new player", new_basket_path %>

<% @baskets.each do |basket| %>
  <h2><%= link_to basket.name, basket_path(basket) %></h2>
  <p><%= basket[:position] %></p>
  <p><%= basket.nationality %></p>
  <%= link_to "Delete", basket_path(basket), method: :delete %>
<% end %>
