<%= form_for @basket do |b| %>

  <%= b.label :name, "Name" %>
  <%= b.text_field :name %>

  <%= b.label :positon, "Position" %>
  <%= b.text_field :position %>

  <%= b.label :nationality, "Nationality" %>
  <%= b.text_field :nationality %>

  <%= b.submit value="Add new player!" %>

<% end %>













<!-- <form action="/baskets" method="post">

  <input type="text" name="basket.name">
  <input type="text" name="basket.position">
  <input type="text" name="basket.nationality">
  <input type="number" name="basket.average_score">
  <input type="submit" value="Create new player!">

</form>
 -->
